/* reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  /* font-size: 62.5%; */
}

body {
  color: #1b1b1b;
  background-color: #fff;
}

*::-webkit-scrollbar {
  width: 0.2rem;
}
*::-webkit-scrollbar-track {
  background: rgba(155, 155, 155, 0.7);
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 155, 0.7);
  border-radius: 1.25rem;
  border: transparent;
}

main {
  min-height: 90vh;
}

/* input fields */

.inputs {
  width: 20rem;
  padding: 0.5rem;
  font-size: 1rem;
  margin: 1rem auto;
}

.inputs input {
  margin-bottom: 1rem;
}

.inputs button {
  font-size: 1rem;
}

/* floors */

.simulation {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 80%;
  margin-bottom: 1rem;
  position: relative;
}

.floor {
  width: 100%;
  height: 10rem;
  margin-top: 1rem;
  border: 0 solid black;
  border-bottom: 0.2rem solid black;
}

.floor__btn {
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 50%;
  border: 0.02rem solid black;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 1rem;
}

.floor__btn--up {
  background-color: green;
}

.floor__btn--down {
  background-color: red;
}

/* lifts */

.lift {
  width: 5rem;
  height: 7.5rem;
  border: 0.2rem solid black;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
  position: absolute;
  bottom: 0;
  left: 7rem;
  overflow: hidden;
}

.lift__door {
  width: 50%;
  height: 100%;
  background-color: var(--bs-primary);
}

.lift__door--left {
  border-right: 0.15rem solid black;
}

.lift__door--right {
  border-left: 0.15rem solid black;
}
